CMake
#dlib
face_recognition
numpy
pandas
xlrd
opencv-python
xlsxwriter
openpyxl
#beepy
pymongo
Flask
Flask-Cors
https://github.com/kwea123/dlib_python_wheel/releases/download/v19.21/dlib-19.21.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl

